.navbar {
  display: flex;
  background-color: #1976d2; /* Material blue */
  padding: 0.5rem 1rem;
}

.nav-item {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
